body {
  background: #efefef;
  font-family: 'Courier New', Courier, monospace;
  user-select: none;
  margin: 0;
}

.hidden {
  display: none;
}

h1 {
  margin: 10px auto 30px;
  width: 300px;
  font-size: 24px;
  text-align: center;
}

section {
  margin: 0 auto;
  width: 80%;
  padding-bottom: 10px;
  background: #fff;
}

article {
  margin: 0 auto;
  padding: 20px;
  width: 100%;
  box-sizing: border-box;
}

h3 {
  margin: 0;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
}

.title {
  line-height: 30px;
  margin: 20px auto;
}

h2 {
  margin: 0;
  font-weight: bold;
  width: 100%;
  font-size: 16px;
  line-height: 30px;
}

.title > h3 {
  text-align: right;
  line-height: 30px;
  font-size: 14px;
  margin: 0;
  color: #929090
}

article p {
  margin: 0;
  font-size: 14px;
  width: 100%;
  text-align: left;
  line-height: 1.8;
  }

@media(min-width:500px) {
  h1 {
    font-size: 36px;
  }

  .title {
    display: flex;
    line-height: 30px;
    justify-content: space-between;
    margin: 20px auto;
  }

  h3 {
    font-size: 16px;
    line-height: 20px;
  }

  h2 {
    width: 70%;
    font-size: 16px;
    line-height: 30px;
  }

  .title > h3 {
    text-align: center;
  }
  
  article p {
    font-size: 14px;
  }
}

@media(min-width:1050px) {
  h1 {
    font-size: 42px;
  }

  article {
    line-height: 60px;
  }

  h3 {
    font-size: 18px;
    line-height: 24px;
  }

  h2 {
    font-size: 20px;
  }
  
  .title > h3 {
    font-size: 20px;
  }

  article p {
    font-size: 16px;
    width: 90%;
    margin: 20px auto;
  }

}